body {
  margin: 0;
  font-family: system-ui, sans-serif;
  height: 100vh;
  overflow: hidden;
  background: var(--clr-body-bg);
  color: var(--clr-text);
}

h1,
h2,
h3,
h4 {
  color: var(--clr-heading);
  line-height: 1.1;
}

#distance-color {
  display: flex;
  justify-content: left;
  margin: 10px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: auto;
}

#container {
  display: flex;
  margin: 0;
  max-height: 100vh;
}

#chart {
  display: flex;
  justify-content: right;
  align-items: center;
  height: auto;
}

#y-inputs {
  display: flex;
  flex-direction: column;
  position: relative;

  input {
    width: fit-content;
  }
}

#file-input {
  display: none;
}
#file-review {
  display: none;
}

#file-input-label {
  background-color: var(--clr-button-bg);
  border: 1px solid #999;
  cursor: pointer;
}

#sidebar {
  overflow-y: auto;
  width: 300px;
  height: 100vh;
  margin: 0;
  padding: 15px;
  border-right: 3px solid var(--clr-border);
  background-color: #ffffff;
}

#sidebar::-webkit-scrollbar {
  width: 7px;
}

#sidebar::-webkit-scrollbar-track {
  border-radius: 10px;
}

#sidebar::-webkit-scrollbar-thumb {
  background: var(--clr-border);
  border-radius: 10px;
}

#file-input {
  display: none;
}

#file-input-label {
  background-color: var(--clr-button-bg);
  border: 1px solid var(--clr-border);
  cursor: pointer;
  border: 2px solid var(--clr-border);
  color: var(--clr-button-text);
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#file-input-label:hover {
  background-color: var(--clr-button-hover-bg);
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    background-color: var(--clr-button-bg);
    width: 100%;
  }
}

.export {
  width: 100%;
}

.hr {
  border-top: 1px solid var(--clr-border);
}

.buttons {
  background-color: var(--clr-button-bg);
  border: 1px solid var(--clr-border);
  cursor: pointer;
  border: 2px solid var(--clr-border);
  background-color: #d8d8d8;
  color: var(--clr-button-text);
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.buttons:hover {
  background-color: var(--clr-button-hover-bg);
}

#stop-chart-btn {
  margin-right: 10px;
}

.input {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid var(--clr-border);
  border-radius: 5px;
  outline: none;
  width: 100px;
}

.input:focus {
  border-color: #3a3a3a;
}

#app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#nav-bar {
  width: 100%;
  height: 50px;
  background-color: var(--clr-nav-bar);
  border-bottom: 2px solid var(--clr-border);
  padding-left: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.color-picker > fieldset {
  border: 0;
  width: 100%;
  background: #fff;
  margin-inline: auto;
  border-radius: 0 0 1rem 1rem;
  padding: 0;

  label {
    display: none;
  }

  .color-picker {
    display: flex;
    justify-content: center;
    width: 14rem;
    align-items: center;
    gap: 5%;
    margin-bottom: 4%;
  }

  h4 {
    margin-top: 0;
  }
}

.color-picker input[type="radio"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
  --radio-color: gray;
}

.color-picker input[type="radio"]#pink {
  --radio-color: pink;
}

.color-picker input[type="radio"]#blue {
  --radio-color: blue;
}

.color-picker input[type="radio"]#green {
  --radio-color: green;
}

.color-picker input[type="radio"]#dark {
  --radio-color: #232323;
}

.light {
  --clr-body-bg: hsl(0 0% 90%);
  --clr-card-bg: hsl(0 0% 100%);
  --clr-text: hsl(0 0% 20%);
  --clr-heading: hsl(0 0% 30%);
  --clr-button-bg: hsl(0 0% 70%);
  --clr-button-text: white;
  --clr-button-hover-bg: hsl(0 0% 60%);
  --clr-border: hsl(0 0% 50%);
  --clr-nav-bar: hsl(0 0% 85%);
  --clr-chart-line: hsl(0 0% 40%);
  --clr-chart-bg: hsl(0 0% 95%);
}

.pink {
  --clr-body-bg: hsl(310 50% 90%);
  --clr-card-bg: hsl(310 50% 100%);
  --clr-text: hsl(310 50% 15%);
  --clr-heading: hsl(310 50% 25%);
  --clr-button-bg: hsl(310 50% 70%);
  --clr-button-text: white;
  --clr-button-hover-bg: hsl(310 50% 60%);
  --clr-border: hsl(310 50% 50%);
  --clr-nav-bar: hsl(310 50% 85%);
}

.blue {
  --clr-body-bg: hsl(209 50% 90%);
  --clr-card-bg: hsl(209 50% 100%);
  --clr-text: hsl(209 50% 15%);
  --clr-heading: hsl(209 50% 25%);
  --clr-button-bg: hsl(209 50% 70%);
  --clr-button-text: white;
  --clr-button-hover-bg: hsl(209 50% 60%);
  --clr-border: hsl(209 50% 50%);
  --clr-nav-bar: hsl(209 50% 85%);
}

.green {
  --clr-body-bg: hsl(109 50% 90%);
  --clr-card-bg: hsl(109 50% 100%);
  --clr-text: hsl(109 50% 15%);
  --clr-heading: hsl(109 50% 25%);
  --clr-button-bg: hsl(109 50% 70%);
  --clr-button-text: white;
  --clr-button-hover-bg: hsl(109 50% 60%);
  --clr-border: hsl(109 50% 50%);
  --clr-nav-bar: hsl(109 50% 85%);
}

.dark {
  --clr-body-bg: hsl(209 50% 10%);
  --clr-card-bg: hsl(209 50% 5%);
  --clr-text: hsl(209 20% 60%);
  --clr-heading: hsl(209 50% 80%);
  --clr-button-bg: hsl(209 50% 30%);
  --clr-button-text: white;
  --clr-button-hover-bg: hsl(209 50% 40%);
  --clr-border: hsl(209 50% 50%);
  --clr-nav-bar: hsl(209 50% 20%);
}

:root:has(#pink:checked) {
  --clr-body-bg: hsl(310 50% 90%);
  --clr-card-bg: hsl(310 50% 100%);
  --clr-text: hsl(310 50% 15%);
  --clr-heading: hsl(310 50% 25%);
}

:root:has(#blue:checked) {
  --clr-body-bg: hsl(209 50% 90%);
  --clr-card-bg: hsl(209 50% 100%);
  --clr-text: hsl(209 50% 15%);
  --clr-heading: hsl(209 50% 25%);
}

:root:has(#green:checked) {
  --clr-body-bg: hsl(109 50% 90%);
  --clr-card-bg: hsl(109 50% 100%);
  --clr-text: hsl(109 50% 15%);
  --clr-heading: hsl(109 50% 25%);
}

:root:has(#dark:checked) {
  --clr-body-bg: hsl(209 50% 10%);
  --clr-card-bg: hsl(209 50% 5%);
  --clr-text: hsl(209 20% 60%);
  --clr-heading: hsl(209 50% 80%);
}

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}
.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 50%;
  max-height: 80%;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}

.popup .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25p;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
}
.popip.active .overlay {
  display: block;
}
.popup.active .content {
  transition: all 300ms easy-in-out;
  transform: translate(-50%, -50%) scale(1);
}

#dataPopUp {
  overflow-y: auto; /* Włącz pionowy pasek przewijania */
  max-height: 300px; /* Maksymalna wysokość elementu */
  white-space: pre-wrap; /* Zawijanie wierszy */
  display: flex;
  justify-content: center;
}

#dataPopUp::-webkit-scrollbar {
  width: 20px;
}

#dataPopUp::-webkit-scrollbar-track {
  border-radius: 2px;
}

#dataPopUp::-webkit-scrollbar-thumb {
  background: var(--clr-border);
  border-radius: 8px;
}
